/* NAVBAR STYLING */
.navbar-brand {
  font-family: 'DynaPuff', sans-serif;
}
#navbarNav a {
    position: relative;
    text-decoration: none;
    font-size: 20px;
    font-family: 'DynaPuff', sans-serif;
    color:rgb(0, 0, 0);
    letter-spacing: 5px;
    margin-left: 100px;
}
#navbarNav a:after{
    content: "";
    position: absolute;
    background-color: rgb(255, 112, 22);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -2px;
    transition: .5s;
}
#navbarNav a:hover{
    color: rgb(13, 52, 45);
    text-decoration: none; /* ADDITION */
}
#navbarNav a:hover:after {
    width: 100%;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
    
  }
.dispaly-4 {
    /* font-family: 'DynaPuff', sans-serif; */
    color: #0069d9;
}
.rounded {
    border-radius: 10px;
    background-color: aqua;
    margin-bottom: 10px;
}
.container {
    margin-top: 50px;
}
.row {
    margin-bottom: 50px;
}
