h1, h2, h3 {
    text-align: center;
  }
  body { background-color: rgb(7, 47, 52);
    font-family: "Arial Rounded MT Bold"; 
}
h1 {
    font-size: 60px;
    color:rgb(178, 231, 234);
  }
  h2 {
    font-size: 30px;
    color:rgb(255, 255, 255);
  }
  h3 {
    font-size: 20px;
    color:rgb(236, 217, 205);
  }
  .selection {
    width: 80%;
    background-image:url('https://i.pinimg.com/originals/0e/36/aa/0e36aafd228163d68a4d2ea324c57436.gif'); background-repeat:repeat;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
  }
.RyukinImage {
    width: 80%;
    background-image:url('https://www.blendswap.com/blend_previews/25375/0/0'); background-repeat:repeat;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}
.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}

.fishtype {
  color: aliceblue;
  text-align: left;
  width: 75%;
}

.price {
  color: aliceblue;
  text-align: right;
  width: 25%;
}
nav {
  height: 80%;
  width: 80%;
  min-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}
a {
  position: relative;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color:aliceblue;
  letter-spacing: 0.5px;
}
a:after{
  content: "";
  position: absolute;
  background-color: rgb(255, 112, 22);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -2px;
  transition: .5s;
}
a:hover{
  color: rgb(199, 244, 236);
}
a:hover:after {
  width: 100%;
}
